:root {
    /* Font Variables */
    --globalFontSize: 14px;
    --globalFontFamily: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    
    /* Color Variables */
    --globalColor: #484848;
}

* {
    margin: 0;
    padding: 0;
    color: var(--globalColor);
    font-size: var(--globalFontSize);
    font-family: var(--globalFontFamily);
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;    
}

body {
    display: flex;
    flex-direction: column;
}

/* filters container */
.container {
    /* min width: 600px, max-width: 1000px */
    width: clamp(600px, 90vw + .5rem, 1000px);
    margin: 30px auto;
}
