:root {
    /* color variables */
    --borderColor: #DDDDDD;
    --btnRed: #FF5A5F;
    --btnTxt: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    color: var(--globalColor);
    font-size: var(--globalFontSize);
    font-family: var(--globalFontFamily);
    border: none;
}

.container .filters {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 70px;
    width: 100%;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
}

.container .filters > button {
    font-size: 18px;
    background-color: var(--btnRed);
    color: var(--btnTxt);
    height: 48px;
    width: 20%;
    border-radius: 4px;
    margin-right: 30px;
}

.container .filters > button:hover {
    opacity: 90%;
}
