:root {
    /* color variables */
    --borderColor: #DDDDDD;
    --lightRed: #FF5A5F;
    --btnTxt: #FFFFFF;
    --dropdownBg: #FAFAFA;
}

.places > h1 {
    font-size: 30px; 
    margin-top: 20px;
}

.places > article {
    display: flex;
    justify-content: center;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid var(--lightRed); 
    border-radius: 4px;
}

.places > article > h2 {
    font-size: 30px;
}
